@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
        --figure-gap: 2.9rem;
    }

    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
}
@media screen and (max-width: 768px) {
    .post-content p,
    .post-content figure:not(.full-width):not(.no-pad),
    .post-content h1,
    .post-content h2,
    .post-content h3,
    .post-content h4,
    .post-content h5,
    .post-content h6 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .post-content blockquote,
    .post-content ol,
    .post-content ul {
        list-style-position: inside;
        padding-left: 16px;
        padding-right: 16px;
    }

    .hamburger-list {
        display: flex;
        width: 100%;
        opacity: 0;
        top: 60px;
        position: absolute;
        transform: translateY(-10px); /* Slightly off-screen */
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
        margin: auto;
        background-color: var(--theme);
        z-index: 1;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
    }

    .hamburger:has(input:checked) + .hamburger-list {
        display: flex;
        flex-direction: column;
        opacity: 1;
        z-index: 1;
        transform: translateY(0); /* Slide into place */
        pointer-events: auto; /* Allow interaction */
    }
    .hamburger-list #menu {
        display: flex;
        flex-direction: column;
    }
    .hamburger-list li {
        text-align: center;
    }

    #menu li+li {
        margin-inline-start: 0;
    }

    #menu {
        margin-inline-start: 0;
    }

    #menu ul {
        margin-inline-start: 0;
    }

    .entree {
        display: none;
    }

    .nav #menu a {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }

}
/* footer */
@media screen and (max-width: 600px) {
    .exhibit-two-cl,
    .exhibit-three-cl,
    .exhibit-two-cl-2rw,
    .exhibit-two-cl-1fr-2fr,
    .exhibit-two-cl-2fr-1fr{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        grid-auto-flow: dense;
        grid-template-areas: unset;
        column-gap: unset;
        row-gap: unset;
    }
    .one,
    .two,
    .three {
        grid-area: unset;
    }

    .wide {
        margin: unset;
    }
}

/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

@media screen and (max-width: 340px) {
    .share-buttons {
        justify-content: unset;
    }
}

@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}
